$bg: rgb(0, 113, 206);
$bg2: black;
$w: white;

@font-face {
  font-family: sw;
  src: url(../dist/sw.ttf);
}

html {
  font-family: sw;
}

body {
  background-image: url(../starwarsImg1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: $w;
  margin: 0;
}

p,
h1,
h2 {
  color: rgb(255, 238, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

#main {
  margin-bottom: 6rem;
}

#header {
  background-color: $bg2;

  p {
    margin: 0;
  }
}

.header-text {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 10px;
  text-shadow: rgb(0, 113, 206) 1px 0 12px;
}

.header-button-container {
  display: flex;
  justify-content: space-around;
  padding: 0 0.1rem;

  button {
    width: 33vw;
    height: 6vh;
    border-radius: 5px;
  }

  button:hover {
    cursor: pointer;

    span {
      font-size: 24px;
    }
  }

  span {
    font-family: sw;
    letter-spacing: 2px;
    font-size: 20px;
  }
}

#menu,
#home,
#contact {
  background-color: black;
  border: 2px solid white;
  color: white;
}

// #menu {
//   background-color: rgb(11, 199, 11);
//   border: 2px solid rgb(11, 199, 11);
//   opacity: 40%;
// }

#menu:hover {
  background-color: rgb(11, 199, 11);
  border: 2px solid rgb(11, 199, 11);
}

// #contact,
// #home {
//   background-color: rgb(253, 7, 7);
//   border: 2px solid rgb(253, 7, 7);
//   opacity: 40%;
// }

#contact:hover,
#home:hover {
  background-color: rgb(253, 7, 7);
  border: 2px solid rgb(253, 7, 7);
}

.about-title,
.menu-title,
.contact-title {
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px $bg2;
}

.about-content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  line-height: 2;
  word-spacing: 15%;
  font-size: larger;
}

.menu-item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

.menu-item {
  background-color: $bg2;
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 1rem;
  border-radius: 30px;
}

.food-img {
  max-width: 100%;
  max-height: 100%;
}

.tab-content {
  display: none;
}

.phone-div,
.address-div {
  justify-content: center;
  letter-spacing: 2px;
  display: flex;
  align-items: center;

  p {
    font-size: larger;
    padding-left: 2rem;
  }
  h2 {
    text-shadow: 1px 1px 2px $bg2;
  }
}
.address-left {
  margin-left: 5rem;
}
.footer {
  background-color: $bg2;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-shadow: rgb(0, 113, 206) 1px 0 5px;

  p {
    margin-bottom: 0;
  }
}
